**/Package\ Control.cache/
**/Package\ Control.last-run
**/google-chrome/
**/gtk-2.0/
**/menus/
**/pulse/
**/systemd/
**/castawesome/
**/discord/
**/ranger/
**/Atom/
**/configstore/
**/.vim/bundle
**/.vim/.netrwhist
**/xfce4/
**/qBittorrent/
**/obs-studio/logs/
**/obs-studio/profiler-data/
**/dconf/
**/rofi/config
**/Code\ -\ OSS/
**/.local
pavucontrol.ini
error.log
.Xresources
rc.lua
