[submodule "LINUX/tmux-powerline"]
	path = LINUX/tmux-powerline
	url = https://github.com/chocolatemelt/tmux-powerline
[submodule "LINUX/dynamic-colors"]
	path = LINUX/dynamic-colors
	url = https://github.com/chocolatemelt/dynamic-colors
[submodule "LINUX/.dynamic-colors"]
	path = LINUX/.dynamic-colors
	url = https://github.com/chocolatemelt/dynamic-colors
[submodule "LINUX/.config/awesome/lain"]
	path = LINUX/.config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "LINUX/.zprezto"]
	path = LINUX/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
