**/Package\ Control.cache/
**/Package\ Control.last-run
**/google-chrome/
**/gtk-2.0/
**/menus/
**/pulse/
**/systemd/
**/castawesome/
**/discord/
**/ranger/
**/.vim/bundle
**/.vim/.netrwhist
pavucontrol.ini
